This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

*Note*: Use a `.env` file and put your key in there and `python-dotenv` to access it in this notebook. 

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a `.env-example` file in this repository to illusrtate what you need. Copy that to a file called `.env` and use your own api key in that `.env` file. Make sure you also have a `.gitignore` file with a line for `.env` added to it. 

The standard Python gitignore is [here](https://github.com/github/gitignore/blob/master/Python.gitignore) you can just copy that.

In [104]:
# get api key from your .env file
import os
from dotenv import load_dotenv

load_dotenv()
API_KEY = os.getenv('NASDAQ_API_KEY')

Nasdaq Data has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Nasdaq Data API instructions here: https://docs.data.nasdaq.com/docs/in-depth-usage

While there is a dedicated Python package for connecting to the Nasdaq API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [105]:
# First, import the relevant modules
import requests
import pandas as pd
import collections
import numpy as np

Note: API's can change a bit with each version, for this exercise it is reccomended to use the nasdaq api at `https://data.nasdaq.com/api/v3/`. This is the same api as what used to be quandl so `https://www.quandl.com/api/v3/` should work too.

Hint: We are looking for the `AFX_X` data on the `datasets/FSE/` dataset.

In [106]:
# Now, call the Nasdaq API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url='https://data.nasdaq.com/api/v3/datasets/FSE/AFX_X/data.json'
r=requests.get(url+'?limit=1&api_key='+API_KEY)
json_data=r.json()

In [107]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data

{'dataset_data': {'limit': 1,
  'transform': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'start_date': '2000-06-07',
  'end_date': '2020-12-01',
  'frequency': 'daily',
  'data': [['2020-12-01',
    112.2,
    112.2,
    111.5,
    112.0,
    None,
    51.0,
    5703.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': None}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.

In [108]:
r=requests.get(url+'?start_date=2017-01-01&end_date=2017-12-31&api_key='+API_KEY)
json_data=dict(r.json())
column_names=json_data['dataset_data']['column_names']
data=json_data['dataset_data']['data']

In [109]:
df=pd.DataFrame(data, columns=column_names)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [110]:
df.isna().any()

Date                     False
Open                      True
High                     False
Low                      False
Close                    False
Change                    True
Traded Volume            False
Turnover                 False
Last Price of the Day     True
Daily Traded Units        True
Daily Turnover            True
dtype: bool

3. Calculate what the highest and lowest opening prices were for the stock in this period.

The highest opening price is $53.11.
The lowest opening price is $34.00

In [111]:
highest_opening_price=df['Open'].max()
highest_opening_price

53.11

In [112]:
lowest_opening_price=df['Open'].min()
lowest_opening_price

34.0

4. What was the largest change in any one day (based on High and Low price)?

The largest change in any one day is $2.81

In [113]:
df['Change_high_low']=df['High']-df['Low']
df.sort_values(by='Change_high_low', ascending=False)

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,Change_high_low
161,2017-05-11,43.40,46.06,43.25,45.00,NaN,189125.0,8496322.0,None,None,None,2.81
100,2017-08-07,45.85,46.34,44.02,44.96,NaN,164543.0,7378816.0,None,None,None,2.32
224,2017-02-13,37.37,39.36,37.35,38.53,NaN,177171.0,6804028.0,None,None,None,2.01
98,2017-08-09,43.50,43.50,41.64,41.81,NaN,355857.0,15003956.0,None,None,None,1.86
26,2017-11-21,47.25,48.59,46.78,48.39,NaN,78502.0,3782098.0,None,None,None,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...
250,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None,0.30
203,2017-03-14,41.20,41.50,41.20,41.30,NaN,60420.0,2498025.0,None,None,None,0.30
227,2017-02-08,35.98,36.14,35.84,36.05,NaN,39731.0,1431205.0,None,None,None,0.30
145,2017-06-02,46.80,46.99,46.72,46.99,NaN,290.0,13584.0,None,None,None,0.27
76,2017-09-08,42.70,42.75,42.56,42.67,NaN,59881.0,2553977.0,None,None,None,0.19

5. What was the largest change between any two days (based on Closing Price)?

The largest change between any two days is an increase of $3.15

In [114]:
change=[]
for index,item in df['Close'].items():
    if index>1:
        change.append(item-df['Close'][index-2])
change.sort()

In [115]:
change

[-2.280000000000001,
 -2.1300000000000026,
 -1.9399999999999977,
 -1.759999999999998,
 -1.7100000000000009,
 -1.7000000000000028,
 -1.5499999999999972,
 -1.509999999999998,
 -1.4799999999999969,
 -1.4600000000000009,
 -1.4399999999999977,
 -1.4199999999999946,
 -1.4099999999999966,
 -1.3900000000000006,
 -1.3099999999999952,
 -1.2299999999999969,
 -1.1900000000000048,
 -1.1599999999999966,
 -1.1300000000000026,
 -1.1300000000000026,
 -1.1099999999999994,
 -1.1000000000000014,
 -1.0700000000000003,
 -1.0399999999999991,
 -1.0100000000000051,
 -0.9699999999999989,
 -0.9500000000000028,
 -0.9500000000000028,
 -0.9099999999999966,
 -0.8800000000000026,
 -0.8700000000000045,
 -0.8500000000000014,
 -0.8300000000000054,
 -0.8100000000000023,
 -0.8100000000000023,
 -0.7899999999999991,
 -0.769999999999996,
 -0.769999999999996,
 -0.75,
 -0.75,
 -0.7399999999999949,
 -0.720000000000006,
 -0.720000000000006,
 -0.7199999999999989,
 -0.7000000000000028,
 -0.6899999999999977,
 -0.6700000000000017,
 -0.6700000000000017,
 -0.6599999999999966,
 -0.6499999999999986,
 -0.6300000000000026,
 -0.6199999999999974,
 -0.6099999999999994,
 -0.6000000000000014,
 -0.5799999999999983,
 -0.5700000000000003,
 -0.5600000000000023,
 -0.5599999999999952,
 -0.5499999999999972,
 -0.5499999999999972,
 -0.5499999999999972,
 -0.5399999999999991,
 -0.5399999999999991,
 -0.5300000000000011,
 -0.5200000000000031,
 -0.509999999999998,
 -0.5,
 -0.480000000000004,
 -0.46999999999999886,
 -0.46999999999999886,
 -0.45000000000000284,
 -0.45000000000000284,
 -0.45000000000000284,
 -0.4399999999999977,
 -0.4299999999999997,
 -0.4299999999999997,
 -0.4299999999999997,
 -0.4200000000000017,
 -0.4099999999999966,
 -0.4099999999999966,
 -0.35999999999999943,
 -0.35999999999999943,
 -0.3500000000000014,
 -0.3500000000000014,
 -0.3500000000000014,
 -0.3400000000000034,
 -0.3400000000000034,
 -0.3399999999999963,
 -0.3299999999999983,
 -0.3299999999999983,
 -0.3200000000000003,
 -0.3200000000000003,
 -0.3100000000000023,
 -0.3100000000000023,
 -0.30999999999999517,
 -0.30000000000000426,
 -0.30000000000000426,
 -0.30000000000000426,
 -0.28999999999999915,
 -0.28000000000000114,
 -0.28000000000000114,
 -0.28000000000000114,
 -0.269999999999996,
 -0.269999999999996,
 -0.2600000000000051,
 -0.259999999999998,
 -0.25,
 -0.240000000000002,
 -0.240000000000002,
 -0.23999999999999488,
 -0.22999999999999687,
 -0.22000000000000597,
 -0.21999999999999886,
 -0.21999999999999886,
 -0.21999999999999886,
 -0.21000000000000085,
 -0.18999999999999773,
 -0.17999999999999972,
 -0.1700000000000017,
 -0.1600000000000037,
 -0.1600000000000037,
 -0.15000000000000568,
 -0.14000000000000057,
 -0.14000000000000057,
 -0.14000000000000057,
 -0.12999999999999545,
 -0.12000000000000455,
 -0.11999999999999744,
 -0.10999999999999943,
 -0.09000000000000341,
 -0.0800000000000054,
 -0.0799999999999983,
 -0.07000000000000028,
 -0.05999999999999517,
 -0.04999999999999716,
 -0.04999999999999716,
 -0.04999999999999716,
 -0.04999999999999716,
 -0.03999999999999915,
 -0.03999999999999915,
 -0.030000000000001137,
 -0.01999999999999602,
 -0.01999999999999602,
 -0.00999999999999801,
 -0.00999999999999801,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.00999999999999801,
 0.00999999999999801,
 0.01999999999999602,
 0.020000000000003126,
 0.020000000000003126,
 0.020000000000003126,
 0.030000000000001137,
 0.030000000000001137,
 0.030000000000001137,
 0.030000000000001137,
 0.04999999999999716,
 0.05000000000000426,
 0.05000000000000426,
 0.060000000000002274,
 0.07000000000000028,
 0.07000000000000028,
 0.07000000000000028,
 0.0799999999999983,
 0.0799999999999983,
 0.10000000000000142,
 0.10000000000000142,
 0.10999999999999943,
 0.10999999999999943,
 0.10999999999999943,
 0.11999999999999744,
 0.13000000000000256,
 0.13000000000000256,
 0.13999999999999346,
 0.14999999999999858,
 0.1599999999999966,
 0.1600000000000037,
 0.1700000000000017,
 0.17999999999999972,
 0.18999999999999773,
 0.20000000000000284,
 0.20999999999999375,
 0.20999999999999375,
 0.21000000000000085,
 0.21999999999999886,
 0.240000000000002,
 0.240000000000002,
 0.25,
 0.25,
 0.25,
 0.259999999999998,
 0.259999999999998,
 0.28000000000000114,
 0.28000000000000114,
 0.28999999999999915,
 0.30999999999999517,
 0.3100000000000023,
 0.3299999999999983,
 0.3400000000000034,
 0.3500000000000014,
 0.36000000000000654,
 0.36999999999999744,
 0.39000000000000057,
 0.3999999999999986,
 0.4100000000000037,
 0.4199999999999946,
 0.4299999999999997,
 0.4399999999999977,
 0.4399999999999977,
 0.45000000000000284,
 0.45000000000000284,
 0.480000000000004,
 0.4899999999999949,
 0.490000000000002,
 0.490000000000002,
 0.5300000000000011,
 0.5600000000000023,
 0.5700000000000003,
 0.5700000000000003,
 0.6099999999999994,
 0.6199999999999974,
 0.6400000000000006,
 0.6499999999999986,
 0.6599999999999966,
 0.7000000000000028,
 0.7299999999999969,
 0.7399999999999949,
 0.7800000000000011,
 0.9000000000000057,
 0.9500000000000028,
 0.9600000000000009,
 0.9699999999999989,
 0.9799999999999969,
 1.0499999999999972,
 1.0800000000000054,
 1.1199999999999974,
 1.1599999999999966,
 1.2899999999999991,
 1.2900000000000063,
 1.3300000000000054,
 1.3499999999999943,
 1.5300000000000011,
 1.6299999999999955,
 2.019999999999996,
 2.6899999999999977,
 3.030000000000001,
 3.1499999999999986]

In [116]:
change[-1:-10:-1]

[3.1499999999999986,
 3.030000000000001,
 2.6899999999999977,
 2.019999999999996,
 1.6299999999999955,
 1.5300000000000011,
 1.3499999999999943,
 1.3300000000000054,
 1.2900000000000063]

6. What was the average daily trading volume during this year?

Average daily trading volume was 89124 units

In [117]:
df['Traded Volume'].mean()

89124.33725490196

7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

The median trading volume was 76286 units

In [118]:
df['Traded Volume'].median()

76286.0